@import "./reset.css";
.hello{
    text-align: center;
    font-style: normal ;
    padding-top:50px;
    color: white;
    font-size: 25px;
}

body{
    font-family: rubik,helvetika,arial,sans-serif;
    background: #171718;
    max-width: 100%;
}
.border{
    text-align: center;
    background: black;
    border-bottom: 2px solid #26292D;
    
}
.enter{
    font-style: normal;
    font-size: 28px;
    color:#171718;
    padding-left:30px ;
}
.border-enter{
    color: white;
    text-align: center;
    border:solid 2px;
    border-radius: 20px;
    background: white;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 30px;
    padding: 5px;
    display: inline-block;  
}
.border-button{
    border-radius: 20px;
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.3s ease-in;
    background-color: #5C62EC;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: 888px;
    margin-right: 888px;
    padding: 8px 29px;
    height: 48px;
    font-style:normal;
    font-size: 25px;
    cursor: pointer;
}
.border-button:hover{
    opacity: 0.8;
}

.border-button:active{
    position: relative;
    top: 1px;
}
.title{
    text-align: center;
    color: white;
    font-size: 25px;
}